<!DOCTYPE html>
<html>
  <head>
    <title>Timestramp test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header></header>
    <main>
      <input type="text" placeholder="put a date in here in unix format or natural">
      <button id="send">Submit</button>
      <button id="valid-unix">A valid unix formatted date</button>
    </main>
    <footer></footer>    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="client.js"></script>
  </body>
</html>